@mixin transition-point-6 {
    transition: all .6s ease-in-out;
}

@keyframes rotation {
    from {
        transform: rotate(0turn)
    }

    to {
        transform: rotate(1turn)
    }

}

@keyframes loaded {
    0% {
        opacity: 1;
        visibility: visible;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }


}

@keyframes slide-up {
    0% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY (0%);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes tickbox {
    0% {
        transform: translateX(100px) rotate(0deg);
    }

    50% {
        transform: translateX(50px) rotate(360deg);
    }

    100% {
        transform: translateY(0px) rotate(0deg);
    }
}