$primary-color: #9356DC;
$secondary-color: #ff79DA;
$tertiary-color: #99E2D0;
$primary-background-color: #f6f6f6;
$secondary-background-color: rgba(234, 234, 234, 255);


@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin desktop {
    @media screen and (min-width:992px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (min-width: 768px) and (max-width: 992px) {
        @content;
    }
}

@mixin primary_font {
    font-family: 'Roboto', sans-serif;
}

@mixin secondary_font {
    font-family: 'Shrikhand';
}