$primary-color: #9356DC;
$secondary-color: #ff79DA;
$tertiary-color: #99E2D0;
$primary-background-color: #f6f6f6; 
$secondary-background-color: rgba(234, 234, 234, 255);


@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

@mixin right {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;

}

@mixin row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@mixin desktop {
    @media screen and (min-width:1200px) {
        @content;
    }
}

@mixin primary_font {
    font-family: 'Roboto', sans-serif;
}

@mixin secondary_font {
    font-family: 'Shrikhand';
}

@mixin card {
    background: white;
    box-shadow: 1px 1px 10px darkgray;
    width: 90%;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    margin: 20px;


    &__image {
        width: 100%;
    }

    &__text {
        color: black;
        text-decoration: none;
    }
}