@include desktop {
    .menus_logo_container {
        @include row;
        margin-left: 300px;
        width: 100%;
        margin: 0;
        position: relative;
        z-index: 1;
        background: white;


        a {
            text-decoration: none;
            color: black;

        }

        .logo {
            width: 160px;
            height: 30px;
            margin: auto;
        }

        .fas {
            width: 20px;
            padding: 20px;
            margin: 0;
        }
    }


    .menus_main {
        width: 100%;
        @include column;
        @include center;
        position: relative;


        img {
            width: 100%;
            height: 900px;
            top: -40%;
            padding: 0;
            position: absolute;
            z-index: 0;
        }

        .menus_list {
            background-color: $secondary-background-color;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            margin-top: 230px;
            margin-bottom: 0;
            border-radius: 25px 25px 0 0;

            .menus_card_header {
                @include row;
                width: 100%;
                padding: 0;
                margin: 20px 0 0 0;

                h1 {
                    width: 90%;
                    font-size: 26px;
                    @include secondary_font;
                    line-height: 5px;
                    padding-left: 30px;
                    padding-top: 20px;
                    font-weight: 200;


                }

                .card_icon {
                    width: 10%;
                    @include center;
                    margin-left: 50px;

                }


                .heart-full {

                    position: absolute;
                    opacity: 0;
                    @include transition-point-6;
                    background: -webkit-gradient(linear, right top, right bottom, from($primary-color), to($secondary-color));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 28px;

                }

                .heart-empty {

                    color: black;
                    font-size: 28px;
                    font-weight: 100;
                    -webkit-text-stroke: 2px $secondary-background-color;

                }

                &:hover .heart-full {
                    opacity: 1;

                }

            }

            .menus_filters {
                @include column;
                width: 100%;
                margin: auto;

                .underline-small {

                    position: relative;
                    font-size: 18px;
                    margin-left: 20px;
                    font-weight: 300;
                    line-height: 35px;
                }

                .underline-small::after {
                    content: '';
                    height: 3px;
                    width: 13%;
                    background-color: $tertiary-color;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                &_row1 {
                    @include row;
                    margin: 0;
                    position: relative;
                    width: 100%;

                    &__filter {
                        width: 40%;
                        background-color: white;
                        border-radius: 20px;
                        margin-left: 10px;
                        box-shadow: 0 5px 5px -5px darkgray;
                        padding: 0 0 5px 0;
                        animation: fade-in, slide-up;
                        animation-duration: 6s;
                        opacity: 0;
                        animation-fill-mode: forwards;
                        position: relative;
                        overflow: hidden;
                        margin: 10px;

                        @for $i from 1 through 10 {
                            &--#{$i} {
                                animation-delay: 400ms * $i;

                            }
                        }
                    }

                    &__filter__text {
                        @include column;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        line-height: 6px;
                        position: relative;
                        transition: width 0.3s;

                        h4 {
                            width: 80%;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 20px 0 10px 10px;
                            line-height: 22px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        h5 {
                            width: 80%;
                            font-size: 15px;
                            font-weight: 200;
                            margin: 10px 0 0 10px;
                            line-height: 18px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                        }

                        h6 {
                            position: absolute;
                            top: 20%;
                            right: 5%;
                            font-size: 16px;
                            font-weight: 500;
                        }


                    }

                    .tickmark {
                        background: $tertiary-color;
                        width: 0px;
                        height: 100px;
                        top: 0;
                        right: 0;
                        opacity: 0;
                        position: absolute;
                        transition: all 0.3s;

                    }

                    .checkbox {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 0.3;

                    }

                    .fa-sharp {
                        color: white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 26px 25px;
                        font-size: 35px;
                        opacity: 0;

                    }


                    .checkbox:checked~.menus_filters_row1__filter__text {
                        width: 80%;
                    }

                    .checkbox:checked~.tickmark {
                        opacity: 1;
                        width: 20%;

                    }
                }


                .menus_button-explore {
                    @include center;
                    height: 50px;
                    width: 200px;
                    border-radius: 50px;
                    box-shadow: 0 10px 10px -5px darkgray;
                    margin: 40px auto;
                    position: relative;

                    background: linear-gradient(to bottom right,
                            rgba($secondary-color, 0.9),
                            rgba($primary-color, 2.5), );

                    &__text {
                        font-size: 20px;
                        text-align: center;
                        color: white;
                        @include primary_font;
                    }

                    h3 {
                        font-size: 18px;
                        font-weight: 400;
                    }

                }
            }
        }
    }
}

@include tablet {
    .menus_logo_container {
        @include row;
        margin-left: 300px;
        width: 100%;
        margin: 0;
        position: relative;
        z-index: 1;
        background: white;


        a {
            text-decoration: none;
            color: black;

        }

        .logo {
            width: 160px;
            height: 30px;
            margin: auto;
        }

        .fas {
            width: 20px;
            padding: 20px;
            margin: 0;
        }
    }


    .menus_main {
        width: 100%;
        @include column;
        @include center;
        position: relative;


        img {
            width: 100%;
            height: 900px;
            top: -40%;
            padding: 0;
            position: absolute;
            z-index: 0;
        }

        .menus_list {
            background-color: $secondary-background-color;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            margin-top: 230px;
            margin-bottom: 0;
            border-radius: 25px 25px 0 0;

            .menus_card_header {
                @include row;
                width: 100%;
                padding: 0;
                margin: 20px 0 0 0;

                h1 {
                    width: 90%;
                    font-size: 26px;
                    @include secondary_font;
                    line-height: 5px;
                    padding-left: 30px;
                    padding-top: 20px;
                    font-weight: 200;


                }

                .card_icon {
                    width: 10%;
                    @include center;
                    margin-left: 50px;

                }


                .heart-full {
                    position: absolute;
                    opacity: 0;
                    @include transition-point-6;
                    background: -webkit-gradient(linear, right top, right bottom, from($primary-color), to($secondary-color));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 28px;

                }

                .heart-empty {
                    color: black;
                    font-size: 28px;
                    font-weight: 100;
                    -webkit-text-stroke: 2px $secondary-background-color;

                }

                &:hover .heart-full {
                    opacity: 1;

                }

            }

            .menus_filters {
                @include column;
                width: 100%;
                margin: auto;

                .underline-small {

                    position: relative;
                    font-size: 18px;
                    margin-left: 20px;
                    font-weight: 300;
                    line-height: 35px;
                }

                .underline-small::after {
                    content: '';
                    height: 3px;
                    width: 13%;
                    background-color: $tertiary-color;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                &_row1 {
                    @include row;
                    margin: 0;
                    position: relative;
                    width: 100%;

                    &__filter {
                        width: 40%;
                        background-color: white;
                        border-radius: 20px;
                        margin-left: 10px;
                        box-shadow: 0 5px 5px -5px darkgray;
                        padding: 0 0 5px 0;
                        animation: fade-in, slide-up;
                        animation-duration: 6s;
                        opacity: 0;
                        animation-fill-mode: forwards;
                        position: relative;
                        overflow: hidden;
                        margin: 10px;

                        @for $i from 1 through 10 {
                            &--#{$i} {
                                animation-delay: 400ms * $i;

                            }
                        }
                    }

                    &__filter__text {
                        @include column;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        line-height: 6px;
                        position: relative;
                        transition: width 0.3s;

                        h4 {
                            width: 80%;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 20px 0 10px 10px;
                            line-height: 22px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        h5 {
                            width: 80%;
                            font-size: 15px;
                            font-weight: 200;
                            margin: 10px 0 0 10px;
                            line-height: 18px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                        }

                        h6 {
                            position: absolute;
                            top: 20%;
                            right: 5%;
                            font-size: 16px;
                            font-weight: 500;
                        }


                    }

                    .tickmark {
                        background: $tertiary-color;
                        width: 0px;
                        height: 100px;
                        top: 0;
                        right: 0;
                        opacity: 0;
                        position: absolute;
                        transition: all 0.3s;

                    }

                    .checkbox {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 0.3;

                    }

                    .fa-sharp {
                        color: white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 26px 20px;
                        font-size: 35px;
                        opacity: 0;

                    }


                    .checkbox:checked~.menus_filters_row1__filter__text {
                        width: 70%;
                    }

                    .checkbox:checked~.tickmark {
                        opacity: 1;
                        width: 30%;

                    }

                    .checkbox:checked~.fa-sharp {
                        opacity: 1;
                        animation: tickbox 0.8s;
                    }


                    .menus_button-explore {
                        @include center;
                        height: 50px;
                        width: 200px;
                        border-radius: 50px;
                        box-shadow: 0 10px 10px -5px darkgray;
                        margin: 40px auto;
                        position: relative;

                        background: linear-gradient(to bottom right,
                                rgba($secondary-color, 0.9),
                                rgba($primary-color, 2.5), );

                        &__text {
                            font-size: 20px;
                            text-align: center;
                            color: white;
                            @include primary_font;
                        }

                        h3 {
                            font-size: 18px;
                            font-weight: 400;
                        }

                    }
                }
            }
        }
    }
}