@include desktop {

    .logo_container {
        @include center;
        margin-left: 300px;
        width: 100%;
        height: 60px;
        margin: 0;

        img {
            width: 150px;
            height: 40px;
        }
    }

    .logo {
        width: 100%;
        height: 100px;
        @include center;
        padding: 10px;
    }

    .location {
        @include row;
        @include center;
        width: 100%;
        height: 60px;
        margin: 0;
        background-color: $secondary-background-color;
        box-shadow: 0 7px 6px -6px grey inset;

        .fa-location-dot {
            padding-right: 10px;
            font-size: 20px;
        }

        h3 {
            font-size: 20px;

        }
    }

    .titles {
        @include column;
        margin: auto;
        background-color: $primary-background-color;
        height: 300px;
        width: 100%;

        h1 {
            font-size: 40px;
            font-weight: 500;
            padding-top: 20px;
        }

        h2 {

            font-size: 24px;
            padding: 0 40px 20px 40px;
        }

        h3 {
            font-weight: 300;
        }

    }

    .button-explore {
        @include center;
        height: 55px;
        width: 350px;
        border-radius: 50px;
        box-shadow: 0 10px 10px -5px darkgray;
        text-decoration: none;

        background: linear-gradient(to bottom,
                rgba($secondary-color, 0.9),
                rgba($primary-color, 2.5), );

        &__text {
            font-size: 20px;
            text-align: center;
            color: white;
            @include primary_font;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
        }

    }

    .how_it_works {
        @include left;
        @include column;
        height: 180px;

        h1 {
            font-size: 25px;
            padding-left: 20px;
        }

        .filters {
            @include row;
            @include center;
            gap: 20px;
            width: 100%;
            padding: 10px 0;

            a {
                text-decoration: none;
                color: black;
            }


            .filter.row {
                @include row;
                width: 400px;
                height: 60px;
                justify-content: flex-start;
                flex-wrap: wrap;
                margin: auto;
                background-color: $primary-background-color;
                box-shadow: 5px 5px 10px $secondary-background-color;
                border-radius: 20px;


                .filter {

                    height: 120px;
                    width: 100%;
                    border-radius: 20px;
                    box-shadow: 5px 5px 10px grey;
                }

                &:hover {
                    background-color: rgba($primary-color, 0.2);

                    .fas {
                        color: $primary-color;
                    }
                }

                .filter-icon {
                    color: white;
                    background-color: rgba($primary-color, 2.5);
                    border-radius: 100%;
                    height: 28px;
                    width: 28px;
                    margin-top: 10px;
                    margin-left: -10px;

                    h2 {
                        @include center;
                        margin: 5px;
                        font-size: 16px;
                        font-weight: 400;
                    }

                }

                .fas {
                    color: darkgray;
                    margin-top: 20px;
                    font-size: 22px;

                    &:active {
                        color: rgba($primary-color, 2.5);
                    }
                }

                .filter-text {

                    h4 {
                        font-weight: 400;
                        margin-top: 20px;
                        font-size: 20px;
                    }

                }
            }

        }


    }

    .restaurants_container {

        @include left;
        @include column;
        background-color: #ededed;
        width: 100%;
        padding-bottom: 20px;

        h2 {
            font-size: 30px;
            font-weight: 500;
            margin: 20px;
        }

        .restaurants {
            @include row;
            background-color: #ededed;
            width: 100%;
            gap: 5px;
            padding: 0;
            margin: auto;

            .card_row1,
            .card_row2 {
                @include row;
                width: 100%;

                .card {
                    margin: 20px auto;
                    position: relative;
                    background: white;
                    box-shadow: 1px 1px 10px darkgray;
                    width: 47%;
                    height: 300px;
                    border-radius: 20px;
                    overflow: hidden;
                    transition: all 0.6s ease-in-out;
                    color: black;


                    &__img {
                        height: 70%;
                        width: 100%;
                        position: relative;
                        overflow: hidden;

                        img {
                            transform: scaleX(1.2) scaleY(1.6);
                        }
                    }

                    .new_button {
                        background: $tertiary-color;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        z-index: 4;
                        width: 80px;
                        height: 30px;
                        border-radius: 5%;

                        h4 {
                            color: #008766;
                            position: absolute;
                            font-size: 14px;
                            margin: 6px 0 0 25px;
                            padding: 0;
                        }
                    }

                }

                .card__footer {
                    @include row;
                    width: 100%;
                    justify-content: space-between;
                    padding-left: 20px;


                    .card__text {
                        width: 90%;
                        line-height: 1px;

                        h4 {
                            font-weight: 500;
                            font-size: 20px;
                        }

                        h5 {
                            font-weight: 200;
                            font-size: 18px;
                        }
                    }

                    .card_icon {
                        position: relative;
                        margin: 0 0 40px 0;
                        width: 20%;
                        justify-content: flex-start;


                        .heart-full {
                            position: absolute;
                            opacity: 0;
                            @include transition-point-6;
                            background: -webkit-gradient(linear, right top, right bottom, from($primary-color), to($secondary-color));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 28px;

                        }

                        .heart-empty {
                            color: black;
                            font-size: 28px;
                            font-weight: 100;
                            -webkit-text-stroke: 2px white;

                        }

                        &:hover .heart-full {
                            opacity: 1;

                        }

                    }
                }

            }

            a {
                text-decoration: none;
            }
        }

    }

    .footer {
        @include column;
        width: 100%;
        margin: 0;
        padding: 20px 0 15px 0;
        background-color: rgb(43, 42, 42);
        position: relative;

        img {
            z-index: 0;
            height: 18px;
            filter: invert(1);
            padding: 5px;
            margin: 0 0 0 -44%;

        }

        ul {
            padding-top: 0;
            list-style-type: none;
            line-height: 30px;
            margin: 0;


            .fas {
                margin-right: 10px;
            }

            li {
                color: white;
                text-decoration: none;
                font-size: 16px;
            }
        }


    }

    /* MENUS_RESPONSIVE STYLESHEET*/

    .menus_logo_container {
        @include row;
        margin-left: 300px;
        width: 100%;
        margin: 0;
        position: relative;
        z-index: 1;
        background: white;


        a {
            text-decoration: none;
            color: black;

        }

        .logo {
            width: 160px;
            height: 30px;
            margin: auto;
        }

        .fas {
            width: 20px;
            padding: 20px;
            margin: 0;
        }
    }


    .menus_main {
        width: 100%;
        @include column;
        @include center;
        position: relative;


        img {
            width: 100%;
            height: 900px;
            top: -40%;
            padding: 0;
            position: absolute;
            z-index: 0;
        }

        .menus_list {
            background-color: $secondary-background-color;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            margin-top: 230px;
            margin-bottom: 0;
            border-radius: 25px 25px 0 0;

            .menus_card_header {
                @include row;
                width: 100%;
                padding: 0;
                margin: 20px 0 0 0;

                h1 {
                    width: 90%;
                    font-size: 26px;
                    @include secondary_font;
                    line-height: 25px;
                    padding-left: 30px;
                    padding-top: 20px;
                    font-weight: 200;

                }

                .card_icon {
                    width: 10%;
                    @include center;
                    margin-left: 50px;

                }


                .heart-full {

                    position: absolute;
                    opacity: 0;
                    @include transition-point-6;
                    background: -webkit-gradient(linear, right top, right bottom, from($primary-color), to($secondary-color));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 28px;

                }

                .heart-empty {

                    color: black;
                    font-size: 28px;
                    font-weight: 100;
                    -webkit-text-stroke: 2px $secondary-background-color;

                }

                &:hover .heart-full {
                    opacity: 1;

                }

            }

            .menus_filters {
                @include column;
                width: 100%;
                margin: auto;

                .underline-small {

                    position: relative;
                    font-size: 18px;
                    margin-left: 20px;
                    font-weight: 300;
                    line-height: 35px;
                }

                .underline-small::after {
                    content: '';
                    height: 3px;
                    width: 13%;
                    background-color: $tertiary-color;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                .row_responsive {
                    @include row;
                    margin: 0;
                    position: relative;
                    width: 100%;

                    &--1 {
                        margin-left: 100px;
                    }
                }

                .filter {
                    width: 40%;
                    background-color: white;
                    border-radius: 20px;
                    margin-left: 10px;
                    box-shadow: 0 5px 5px -5px darkgray;
                    padding: 0 0 5px 0;
                    animation: fade-in, slide-up;
                    animation-duration: 6s;
                    opacity: 0;
                    animation-fill-mode: forwards;
                    position: relative;
                    overflow: hidden;
                    margin: 10px;

                    @for $i from 1 through 10 {
                        &--#{$i} {
                            animation-delay: 400ms * $i;

                        }
                    }


                    .filter__text {
                        @include column;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        line-height: 6px;
                        position: relative;
                        transition: width 0.3s;

                        h4 {
                            width: 70%;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 20px 0 10px 10px;
                            line-height: 22px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        h5 {
                            width: 70%;
                            font-size: 15px;
                            font-weight: 200;
                            margin: 10px 0 0 10px;
                            line-height: 18px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                        }

                        h6 {
                            position: absolute;
                            top: 20%;
                            right: 5%;
                            font-size: 16px;
                            font-weight: 500;
                        }


                    }

                    .tickmark {
                        background: $tertiary-color;
                        width: 0px;
                        height: 100px;
                        top: 0;
                        right: 0;
                        opacity: 0;
                        position: absolute;
                        transition: all 0.3s;

                    }

                    .checkbox {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 0.3s;

                    }

                    .fa-sharp {
                        @include center;
                        color: white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin: 26px 25px;
                        font-size: 35px;
                        opacity: 0;

                    }


                    .checkbox:checked~.filter__text {
                        width: 80%;
                    }

                    .checkbox:checked~.tickmark {
                        opacity: 1;
                        width: 20%;

                    }

                    .checkbox:checked~.fa-sharp {
                        opacity: 1;
                        animation: tickbox 0.8s;
                    }
                }

                .filter:hover .filter__text {
                    width: 80%;

                }

                .filter:hover .tickmark {
                    opacity: 1;
                    width: 20%;

                }

                .filter:hover .fa-sharp {
                    opacity: 1;
                    animation: tickbox 0.8s;
                }


                .menus_button-explore {
                    @include center;
                    height: 50px;
                    width: 200px;
                    border-radius: 50px;
                    box-shadow: 0 10px 10px -5px darkgray;
                    margin: 40px auto;
                    position: relative;

                    background: linear-gradient(to bottom right,
                            rgba($secondary-color, 0.9),
                            rgba($primary-color, 2.5), );

                    &__text {
                        font-size: 20px;
                        text-align: center;
                        color: white;
                        @include primary_font;
                    }

                    h3 {
                        font-size: 18px;
                        font-weight: 400;
                    }

                }
            }
        }
    }
}


@include tablet {

    .logo_container {
        @include center;
        margin-left: 300px;
        width: 100%;
        height: 60px;
        margin: 0;

        img {
            width: 150px;
            height: 40px;
        }
    }

    .logo {
        width: 100%;
        height: 100px;
        @include center;
        padding: 10px;
    }

    .location {
        @include row;
        @include center;
        width: 100%;
        height: 60px;
        margin: 0;
        background-color: $secondary-background-color;
        box-shadow: 0 7px 6px -6px grey inset;

        .fa-location-dot {
            padding-right: 10px;
            font-size: 18px;
        }

        h3 {
            font-size: 18px;

        }
    }

    .titles {
        @include column;
        flex-wrap: wrap;
        background-color: $primary-background-color;
        height: 270px;
        width: 100%;

        h1 {
            font-size: 30px;
            font-weight: 500;
            padding-top: 20px;
        }

        h2 {

            font-size: 18px;
            padding: 0;
        }

        h3 {
            font-weight: 300;
        }

    }

    .button-explore {
        @include center;
        height: 55px;
        width: 350px;
        border-radius: 50px;
        box-shadow: 0 10px 10px -5px darkgray;
        text-decoration: none;

        background: linear-gradient(to bottom,
                rgba($secondary-color, 0.9),
                rgba($primary-color, 2.5), );

        &__text {
            font-size: 20px;
            text-align: center;
            color: white;
            @include primary_font;
        }

        h3 {
            font-size: 18px;
            font-weight: 400;
        }

    }

    .how_it_works {
        @include left;
        @include column;
        height: 170px;

        h1 {
            font-size: 25px;
            padding-left: 20px;
        }

        .filters {
            @include row;
            @include center;
            gap: 15px;
            width: 100%;
            padding: 10px 0;

            a {
                text-decoration: none;
                color: black;
            }


            .filter.row {
                @include row;
                flex-wrap: wrap;
                width: 250px;
                height: 60px;
                gap: 10px;
                justify-content: flex-start;
                margin-left: 5px;
                background-color: $primary-background-color;
                box-shadow: 5px 5px 10px $secondary-background-color;
                border-radius: 20px;


                .filter {

                    height: 120px;
                    width: 100%;
                    border-radius: 20px;
                    box-shadow: 5px 5px 10px grey;
                }

                &:hover {
                    background-color: rgba($primary-color, 0.2);

                    .fas {
                        color: $primary-color;
                    }
                }

                .filter-icon {
                    color: white;
                    background-color: rgba($primary-color, 2.5);
                    border-radius: 100%;
                    height: 28px;
                    width: 28px;
                    margin-top: 15px;
                    margin-left: -10px;

                    h2 {
                        @include center;
                        margin: 5px;
                        font-size: 14px;
                        font-weight: 400;
                    }

                }

                .fas {
                    color: darkgray;
                    margin-top: 20px;
                    font-size: 22px;

                    &:active {
                        color: rgba($primary-color, 2.5);
                    }
                }

                .filter-text {

                    h4 {
                        font-weight: 400;
                        margin-top: 20px;
                        font-size: 14px;
                    }
                }
            }

        }


    }

    .restaurants_container {

        @include left;
        @include column;
        background-color: #ededed;
        width: 100%;
        padding-bottom: 20px;

        h2 {
            font-size: 30px;
            font-weight: 500;
            margin: 20px;
        }

        .restaurants {
            @include column;
            background-color: #ededed;
            width: 100%;
            gap: 15px;
            padding: 0;
            margin: auto;

            .card_row1,
            .card_row2 {
                @include row;
                width: 100%;

                .card {
                    margin: 20px auto;
                    position: relative;
                    background: white;
                    box-shadow: 1px 1px 10px darkgray;
                    width: 40%;
                    height: 300px;
                    border-radius: 20px;
                    overflow: hidden;
                    transition: all 0.6s ease-in-out;
                    color: black;


                    &__img {
                        height: 70%;
                        width: 100%;
                        position: relative;
                        overflow: hidden;

                        img {
                            transform: scaleX(1.2) scaleY(1.6);
                        }
                    }

                    .new_button {
                        background: $tertiary-color;
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        z-index: 4;
                        width: 80px;
                        height: 30px;
                        border-radius: 5%;

                        h4 {
                            color: #008766;
                            position: absolute;
                            font-size: 14px;
                            margin: 6px 0 0 25px;
                            padding: 0;
                        }
                    }

                }

                .card__footer {
                    @include row;
                    width: 100%;
                    justify-content: space-between;
                    padding-left: 20px;


                    .card__text {
                        width: 80%;
                        line-height: 1px;

                        h4 {
                            font-weight: 500;
                            font-size: 20px;
                        }

                        h5 {
                            font-weight: 200;
                            font-size: 18px;
                        }
                    }

                    .card_icon {
                        position: relative;
                        margin: 0 0 40px 0;
                        width: 20%;
                        justify-content: flex-start;


                        .heart-full {
                            position: absolute;
                            opacity: 0;
                            @include transition-point-6;
                            background: -webkit-gradient(linear, right top, right bottom, from($primary-color), to($secondary-color));
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 28px;

                        }

                        .heart-empty {
                            color: black;
                            font-size: 28px;
                            font-weight: 100;
                            -webkit-text-stroke: 2px white;

                        }

                        &:hover .heart-full {
                            opacity: 1;

                        }

                    }
                }

            }

            a {
                text-decoration: none;
            }
        }

    }

    .footer {
        @include column;
        width: 100%;
        margin: 0;
        padding: 20px 0 15px 0;
        background-color: rgb(43, 42, 42);
        position: relative;

        img {
            z-index: 0;
            height: 18px;
            filter: invert(1);
            padding: 5px;
            margin: 0 0 0 -40%;

        }

        ul {
            padding-top: 0;
            list-style-type: none;
            line-height: 30px;
            margin: 0;


            .fas {
                margin-right: 10px;
            }

            li {
                color: white;
                text-decoration: none;
                font-size: 16px;
            }
        }
    }

    /* MENUS_RESPONSIVE*/

    .menus_logo_container {
        @include row;
        margin-left: 300px;
        width: 100%;
        margin: 0;
        position: relative;
        z-index: 1;
        background: white;


        a {
            text-decoration: none;
            color: black;

        }

        .logo {
            width: 160px;
            height: 30px;
            margin: auto;
        }

        .fas {
            width: 20px;
            padding: 20px;
            margin: 0;
        }
    }


    .menus_main {
        width: 100%;
        @include column;
        @include center;
        position: relative;


        img {
            width: 100%;
            height: 900px;
            top: -40%;
            padding: 0;
            position: absolute;
            z-index: 0;
        }

        .menus_list {
            background-color: $secondary-background-color;
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 2;
            margin-top: 230px;
            margin-bottom: 0;
            border-radius: 25px 25px 0 0;

            .menus_card_header {
                @include row;
                width: 100%;
                padding: 0;
                margin: 20px 0 0 0;

                h1 {
                    width: 90%;
                    font-size: 26px;
                    @include secondary_font;
                    line-height: 25px;
                    padding-left: 30px;
                    padding-top: 20px;
                    font-weight: 200;


                }

                .card_icon {
                    width: 10%;
                    @include center;
                    margin-left: 50px;

                }


                .heart-full {
                    position: absolute;
                    opacity: 0;
                    @include transition-point-6;
                    background: -webkit-gradient(linear, right top, right bottom, from($primary-color), to($secondary-color));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 28px;

                }

                .heart-empty {
                    color: black;
                    font-size: 28px;
                    font-weight: 100;
                    -webkit-text-stroke: 2px $secondary-background-color;

                }

                &:hover .heart-full {
                    opacity: 1;

                }

            }

            .menus_filters {
                @include column;
                width: 100%;
                margin: auto;

                .underline-small {

                    position: relative;
                    font-size: 18px;
                    margin-left: 20px;
                    font-weight: 300;
                    line-height: 35px;
                }

                .underline-small::after {
                    content: '';
                    height: 3px;
                    width: 13%;
                    background-color: $tertiary-color;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                .column_responsive {
                    @include column;

                }

                .row_responsive {
                    @include row;
                    margin: 0;
                    position: relative;
                    width: 100%;

                    &--1 {
                        margin-left: 40px;
                    }
                }


                .filter {
                    width: 40%;
                    background-color: white;
                    border-radius: 20px;
                    margin-left: 10px;
                    box-shadow: 0 5px 5px -5px darkgray;
                    padding: 0 0 5px 0;
                    animation: fade-in, slide-up;
                    animation-duration: 6s;
                    opacity: 0;
                    animation-fill-mode: forwards;
                    position: relative;
                    overflow: hidden;
                    margin: 10px;

                    @for $i from 1 through 10 {
                        &--#{$i} {
                            animation-delay: 400ms * $i;

                        }
                    }


                    .filter__text {
                        @include column;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        line-height: 6px;
                        position: relative;
                        transition: width 0.3s;

                        h4 {
                            width: 70%;
                            font-size: 18px;
                            font-weight: 500;
                            margin: 20px 0 5px 15px;
                            line-height: 22px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        h5 {
                            width: 70%;
                            font-size: 15px;
                            font-weight: 200;
                            margin: 10px 0 5px 15px;
                            line-height: 18px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                        }

                        h6 {
                            position: absolute;
                            top: 35%;
                            right: 5%;
                            font-size: 16px;
                            font-weight: 500;
                        }


                    }

                    .tickmark {
                        background: $tertiary-color;
                        width: 0px;
                        height: 100px;
                        top: 0;
                        right: 0;
                        opacity: 0;
                        position: absolute;
                        transition: all 0.3s;

                    }

                    .checkbox {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 1;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        transition: all 0.3s;

                    }

                    .fa-sharp {

                        color: white;
                        position: absolute;
                        top: 0;
                        right: 0;
                        font-size: 30px;
                        opacity: 0;
                        margin: 30px 10px;

                    }


                    .checkbox:checked~.filter__text {
                        width: 80%;
                    }

                    .checkbox:checked~.tickmark {
                        opacity: 1;
                        width: 20%;

                    }

                    .checkbox:checked~.fa-sharp {
                        @include center;
                        opacity: 1;
                        animation: tickbox 0.8s;
                    }
                }

                .filter:hover .filter__text {
                    width: 80%;

                }

                .filter:hover .tickmark {
                    opacity: 1;
                    width: 20%;

                }

                .filter:hover .fa-sharp {
                    @include center;
                    opacity: 1;
                    animation: tickbox 0.8s;
                }


                .menus_button-explore {
                    @include center;
                    height: 50px;
                    width: 200px;
                    border-radius: 50px;
                    box-shadow: 0 10px 10px -5px darkgray;
                    margin: 40px auto;
                    position: relative;

                    background: linear-gradient(to bottom right,
                            rgba($secondary-color, 0.9),
                            rgba($primary-color, 2.5), );

                    &__text {
                        font-size: 20px;
                        text-align: center;
                        color: white;
                        @include primary_font;
                    }

                    h3 {
                        font-size: 18px;
                        font-weight: 400;
                    }

                }
            }
        }
    }
}