@import "config";
@import "animation";
@import "home";
@import "menus";
@import "responsive";
@import "menus_responsive";


@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


.logo_container {
    @include center;
    width: 100%;
    margin: 0;
}

.logo {
    width: 160px;
    height: 30px;
    @include center;
    padding: 10px;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    @include primary_font;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    @include center;
    background: #f3f3f398;
    animation: loaded 0.75s 1.5s ease-in-out forwards;
    z-index: 1000;


    &::after {

        content: "";
        width: 75px;
        height: 75px;
        border: 15px solid $tertiary-color;
        border-top-color: $primary-color;
        border-radius: 50%;
        animation: rotation 0.75s ease infinite;
    }



}


h1 {
    @include primary_font;
}

h2 {
    @include primary_font;
    font-weight: 100;
    font-size: 20px;
}

h3 {
    @include primary_font;
}


.header {
    @include center;
    flex-direction: column;
    width: 100%;
    margin: 0;

}

img {
    height: 100%;
    width: 100%;

}