@import "config";
@import "home";
@import "menus";

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


body {
    width: 100%;
    padding: 0;
    margin: 0;
    @include primary_font;
}

h1 {
    @include primary_font;
}

h2 {
    @include primary_font;
    font-weight: 100;
    font-size: 20px;
}

h3 {
    @include primary_font;
}

.logo {
    width: 160px;
    height: 30px;
    @include center;
    padding: 10px;
}

.logo_container {
    @include center;
    width: 100%;
    margin: 0;
}

.header {
    @include center;
    flex-direction: column;
    width: 100%;
    margin: 0;

}

img {
    height: 100%;
    width: 100%;

}