@import "config";
@import "home";

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.body {
    width: 100%;
    padding: 0;
    margin: -10px;
    @include primary_font;
}

h1 {
    @include primary_font;
}

h2 {
    @include primary_font;
}

h3 {
    @include primary_font;
}

.logo {
    width: 160px;
    height: 30px;
    @include center;
    padding: 10px;
}

.logo_container {
    @include center;
    width: 100%;
    margin: 0;
}

.header {
    @include center;
    flex-direction: column;
    width: 100%;
    margin: 0;

}

img {
    height: 100%;
    width: 100%;

}

.location {
    @include row;
    @include center;
    width: 100%;
    height: 40px;
    margin: 0;
    background-color: rgb(178, 175, 175);
    border-bottom: 2px solid lightgray;
    box-shadow: 0 2px 6px -2px gray inset;

}

.titles {
    @include center;
    @include column;
    background-color: lightgray;
    height: 400px;
    width: 100%;

}


.button-explore {
    @include center;
    height: 50px;
    width: 300px;
    border: solid $secondary-color 2px;
    border-radius: 50px;

    background: linear-gradient(to bottom,
            rgba($secondary-color, 0.9),
            rgba(#873a72, 2.5), );

    &__text {
        font-size: 20px;
        text-align: center;
        color: white;
        @include primary_font;
    }

}

.how_it_works {
    @include center;
    flex-direction: column;

    &__button {
        @include row;
    }
}

.restaurants {
    @include center;
    @include column;
    background-color: #ededed;
    width: 100%;
    height: 1100px;
    gap: 15px;



}